In [54]:
from sklearn.neural_network import MLPClassifier
from sklearn import svm, preprocessing
from sklearn.naive_bayes import GaussianNB, BernoulliNB

import sklearn.metrics as sklm

from sklearn import linear_model
#from statsmodels.api import datasets
from sklearn import datasets ## Get dataset from sklearn
import sklearn.model_selection as ms
import sklearn.metrics as sklm
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import numpy.random as nr
from dateutil.relativedelta import relativedelta

import math

%matplotlib inline

In [55]:
AdvWorksCustsFinal = pd.read_csv('AWCustFinal.csv',index_col='CustomerID')

In [56]:
AdvWorksCustsFinal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16404 entries, 11000 to 18982
Data columns (total 14 columns):
Unnamed: 0              16404 non-null int64
CountryRegionName       16404 non-null object
Education               16404 non-null object
Occupation              16404 non-null object
Gender                  16404 non-null object
MaritalStatus           16404 non-null object
HomeOwnerFlag           16404 non-null int64
NumberCarsOwned         16404 non-null int64
NumberChildrenAtHome    16404 non-null int64
TotalChildren           16404 non-null int64
YearlyIncome            16404 non-null int64
BikeBuyer               16404 non-null int64
ageat1998               16404 non-null int64
AveMonthSpendLog        16404 non-null float64
dtypes: float64(1), int64(8), object(5)
memory usage: 1.9+ MB

In [57]:
advWorksCusts = pd.read_csv('AdvWorksCusts.csv')
#print(advWorksCusts.CustomerID.unique().shape)
advWorksCusts.drop_duplicates(subset = 'CustomerID', keep = 'last', inplace = True)

In [58]:
aw_AveMonthSpend = pd.read_csv('AW_AveMonthSpend.csv')
#print(aw_AveMonthSpend.CustomerID.unique().shape)
aw_AveMonthSpend.drop_duplicates(subset = 'CustomerID', keep = 'last', inplace = True)
print(advWorksCusts.shape)
aw_BikeBuyer = pd.read_csv('AW_BikeBuyer.csv')
#print(aw_BikeBuyer.CustomerID.unique().shape)
aw_BikeBuyer.drop_duplicates(subset = 'CustomerID', keep = 'last', inplace = True)
print(advWorksCusts.shape)

(16404, 23)
(16404, 23)

In [59]:
WorksCustsFinal = pd.merge(advWorksCusts, aw_AveMonthSpend, on='CustomerID')
WorksCustsFinal = pd.merge(WorksCustsFinal, aw_BikeBuyer,on='CustomerID')
print(WorksCustsFinal.shape)
print(WorksCustsFinal.CustomerID.unique().shape)

(16404, 25)
(16404,)

In [60]:
WorksCustsFinal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16404 entries, 0 to 16403
Data columns (total 25 columns):
CustomerID              16404 non-null int64
Title                   88 non-null object
FirstName               16404 non-null object
MiddleName              9453 non-null object
LastName                16404 non-null object
Suffix                  2 non-null object
AddressLine1            16404 non-null object
AddressLine2            273 non-null object
City                    16404 non-null object
StateProvinceName       16404 non-null object
CountryRegionName       16404 non-null object
PostalCode              16404 non-null object
PhoneNumber             16404 non-null object
BirthDate               16404 non-null object
Education               16404 non-null object
Occupation              16404 non-null object
Gender                  16404 non-null object
MaritalStatus           16404 non-null object
HomeOwnerFlag           16404 non-null int64
NumberCarsOwned         16404 non-null int64
NumberChildrenAtHome    16404 non-null int64
TotalChildren           16404 non-null int64
YearlyIncome            16404 non-null int64
AveMonthSpend           16404 non-null int64
BikeBuyer               16404 non-null int64
dtypes: int64(8), object(17)
memory usage: 3.3+ MB

In [61]:
WorksCustsFinal.columns
WorksCustsFinal.drop(columns=['Title', 'MiddleName', 'Suffix', 'AddressLine2'],axis=1,inplace=True)

In [62]:
WorksCustsFinal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16404 entries, 0 to 16403
Data columns (total 21 columns):
CustomerID              16404 non-null int64
FirstName               16404 non-null object
LastName                16404 non-null object
AddressLine1            16404 non-null object
City                    16404 non-null object
StateProvinceName       16404 non-null object
CountryRegionName       16404 non-null object
PostalCode              16404 non-null object
PhoneNumber             16404 non-null object
BirthDate               16404 non-null object
Education               16404 non-null object
Occupation              16404 non-null object
Gender                  16404 non-null object
MaritalStatus           16404 non-null object
HomeOwnerFlag           16404 non-null int64
NumberCarsOwned         16404 non-null int64
NumberChildrenAtHome    16404 non-null int64
TotalChildren           16404 non-null int64
YearlyIncome            16404 non-null int64
AveMonthSpend           16404 non-null int64
BikeBuyer               16404 non-null int64
dtypes: int64(8), object(13)
memory usage: 2.8+ MB

In [63]:
WorksCustsFinal['ageat1998'] = [1998 - int(str(dt).split('-')[0]) for dt in WorksCustsFinal['BirthDate'] ]

In [64]:
WorksCustsFinal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16404 entries, 0 to 16403
Data columns (total 22 columns):
CustomerID              16404 non-null int64
FirstName               16404 non-null object
LastName                16404 non-null object
AddressLine1            16404 non-null object
City                    16404 non-null object
StateProvinceName       16404 non-null object
CountryRegionName       16404 non-null object
PostalCode              16404 non-null object
PhoneNumber             16404 non-null object
BirthDate               16404 non-null object
Education               16404 non-null object
Occupation              16404 non-null object
Gender                  16404 non-null object
MaritalStatus           16404 non-null object
HomeOwnerFlag           16404 non-null int64
NumberCarsOwned         16404 non-null int64
NumberChildrenAtHome    16404 non-null int64
TotalChildren           16404 non-null int64
YearlyIncome            16404 non-null int64
AveMonthSpend           16404 non-null int64
BikeBuyer               16404 non-null int64
ageat1998               16404 non-null int64
dtypes: int64(9), object(13)
memory usage: 2.9+ MB

In [65]:
WorksCustsFinal.drop(WorksCustsFinal[['FirstName','LastName','AddressLine1','City','StateProvinceName','PostalCode','PhoneNumber','BirthDate']],axis=1,inplace=True)

In [66]:
#AdvWorksCustsFinal.drop(['Unnamed: 0'],axis = 1,inplace=True,)

In [75]:
# Labels
Labels = np.array(WorksCustsFinal['AveMonthSpend'])
Labels.shape

(16404,)

In [68]:
# Encode categorical data
def encode_string(cat_features):
    
    ## First encode the strings to numeric categories
    enc = preprocessing.LabelEncoder()
    enc.fit(cat_features)
    enc_cat_features = enc.transform(cat_features)
    
    ## Now, apply one hot encoding
    ohe = preprocessing.OneHotEncoder()
    encoded = ohe.fit(enc_cat_features.reshape(-1,1))
    return encoded.transform(enc_cat_features.reshape(-1,1)).toarray()

categorical_columns = ['Education','Occupation',
                       'Gender','MaritalStatus','HomeOwnerFlag']

Features = encode_string(WorksCustsFinal['CountryRegionName'])

for col in categorical_columns:
    temp = encode_string(WorksCustsFinal[col])
    Features = np.concatenate([Features, temp], axis = 1)
    
print(Features.shape)
print(Features[:2, :])

(16404, 22)
[[1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 1. 0.]]

In [69]:
numerical_columns = numerical_columns = ['NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome', 'ageat1998']

In [70]:
# Add numerical feature
Features = np.concatenate([Features, np.array(WorksCustsFinal[numerical_columns])], axis = 1)
Features[:2,:]
print(Features.shape)

(16404, 27)

In [76]:
## Randomly sample cases to create independent training and test data
nr.seed(9988)
indx = range(Features.shape[0])
indx = ms.train_test_split(indx, test_size = 0.3)
X_train = Features[indx[0],:]
y_train = np.ravel(Labels[indx[0]])
X_test = Features[indx[1],:]
y_test = np.ravel(Labels[indx[1]])

In [77]:
scaler = preprocessing.StandardScaler().fit(X_train[:,23:])
X_train[:,23:] = scaler.transform(X_train[:,23:])
X_test[:,23:] = scaler.transform(X_test[:,23:])

In [78]:
#Construct Linear regression model

lin_mod = linear_model.LinearRegression(fit_intercept = False)
lin_mod.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=False, n_jobs=1, normalize=False)

In [79]:
ads_test = pd.read_csv('AW_test.csv')
ads_test.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,18988,NaN,Courtney,A,Baker,NaN,8727 Buena Vista Ave.,NaN,Fremont,California,...,1/5/1945,Bachelors,Management,F,S,0,2,0,5,86931
1,29135,NaN,Adam,C,Allen,NaN,3491 Cook Street,NaN,Haney,British Columbia,...,10/4/1964,Bachelors,Skilled Manual,M,M,1,2,2,4,100125
2,12156,NaN,Bonnie,NaN,Raji,NaN,359 Pleasant Hill Rd,NaN,Burbank,California,...,1/12/1934,Graduate Degree,Management,F,M,1,2,0,4,103985
3,13749,NaN,Julio,C,Alonso,NaN,8945 Euclid Ave.,NaN,Burlingame,California,...,9/22/1958,Graduate Degree,Skilled Manual,M,M,1,0,0,4,127161
4,27780,NaN,Christy,A,Andersen,NaN,"42, boulevard Tremblay",NaN,Dunkerque,Nord,...,3/19/1965,High School,Manual,F,M,1,1,2,2,21876

In [80]:
# Calculate age of customer based on birthdate
def calculate_age(end):
    r = relativedelta(pd.to_datetime('now'), pd.to_datetime(end)) 
    return '{}'.format(r.years)


ads_test['Age'] = ads_test['BirthDate'].apply(calculate_age)

# Convert age to integer
ads_test['Age'] = ads_test['Age'].astype('int64')

In [81]:
ads_totest = ads_test[['CountryRegionName','Education','Occupation','Gender',
                      'MaritalStatus','HomeOwnerFlag','NumberCarsOwned',
                      'NumberChildrenAtHome','TotalChildren','YearlyIncome',
                      'Age']]

ads_totest.head()

,CountryRegionName,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,Age
0,United States,Bachelors,Management,F,S,0,2,0,5,86931,74
1,Canada,Bachelors,Skilled Manual,M,M,1,2,2,4,100125,54
2,United States,Graduate Degree,Management,F,M,1,2,0,4,103985,85
3,United States,Graduate Degree,Skilled Manual,M,M,1,0,0,4,127161,60
4,France,High School,Manual,F,M,1,1,2,2,21876,53

In [82]:
# Encode categorical data
def encode_string(cat_features):
    
    ## First encode the strings to numeric categories
    enc = preprocessing.LabelEncoder()
    enc.fit(cat_features)
    enc_cat_features = enc.transform(cat_features)
    
    ## Now, apply one hot encoding
    ohe = preprocessing.OneHotEncoder()
    encoded = ohe.fit(enc_cat_features.reshape(-1,1))
    return encoded.transform(enc_cat_features.reshape(-1,1)).toarray()

categorical_columns = ['Education','Occupation',
                       'Gender','MaritalStatus','HomeOwnerFlag']

Features = encode_string(ads_totest['CountryRegionName'])

for col in categorical_columns:
    temp = encode_string(ads_totest[col])
    Features = np.concatenate([Features, temp], axis = 1)
    
print(Features.shape)

(500, 22)

In [83]:
# Add numerical feature
Features = np.concatenate([Features, np.array(ads_totest[['NumberCarsOwned',
                                                        'NumberChildrenAtHome',
                                                        'TotalChildren',
                                                        'YearlyIncome','Age']])], axis = 1)

print(Features.shape)

(500, 27)

In [84]:
X_test = Features
X_test[:,23:] = scaler.transform(X_test[:,23:])

In [85]:
scores = lin_mod.predict(X_test)
print(scores)

[ 40.16992188 104.2734375   46.44335938  86.19140625  58.21289062
  40.57226562  93.2265625  124.66796875 100.3359375   53.9375
  56.81787109  48.44140625  69.99804688  44.15283203  35.34912109
  48.94921875  83.42578125  70.45703125 109.50976562  56.91992188
  66.13085938  73.453125   146.94921875  82.53125     52.734375
  72.78515625  84.18359375 114.63916016  74.8203125   59.57617188
  66.59765625  78.14453125  37.04296875  69.35546875 103.52734375
 102.02734375 146.68164062  90.04296875  56.359375    84.546875
  44.265625    78.08007812  80.12695312  46.12890625  55.8046875
  73.59765625  59.07617188  84.63671875 114.09375     77.921875
  79.3125      92.875       78.81445312  62.3046875   44.40332031
  73.53515625  55.18457031  72.65771484  61.81445312  67.77539062
  43.734375    62.890625    88.37207031  80.82421875  41.69726562
  78.48046875  79.58203125 130.73632812  63.76953125 104.14404297
  83.31640625  66.1171875   90.66943359  42.01757812  63.19042969
  79.76660156 113.02294922  66.359375    59.70703125  45.19335938
  85.1015625   69.93408203  45.3203125   87.11132812  83.40625
  45.89453125  83.796875   117.94921875  95.31835938  52.51953125
  51.2265625   92.73242188  35.83984375  46.74609375  35.5859375
 136.88671875  57.875       47.5703125   42.94921875  50.875
 103.98828125  71.5703125   46.72460938 116.98046875  84.4296875
 101.92675781  30.25        44.16992188  44.9921875   58.24804688
  93.99902344  45.69140625  82.71875     61.02734375  74.74023438
  82.8203125   36.52734375  38.56591797  43.36767578  85.51269531
 121.99609375  85.54394531  80.12353516  36.7421875   76.37353516
  54.67724609  62.59765625  88.46484375  84.09765625 121.546875
  35.46630859  85.93359375 118.25195312  41.45703125  47.08203125
 110.6640625  148.88183594  81.56445312  82.70166016  81.7421875
  87.65625     39.77978516 113.39453125  33.54248047  75.81640625
  59.20263672  48.09765625  34.5078125   62.6640625   63.13476562
  97.07617188  69.1875      65.57470703  74.27734375 104.84179688
  35.44921875  74.7890625   65.28125     78.375       93.58496094
  35.88867188  69.57958984  57.8828125   94.37695312 105.64453125
  55.81835938  95.0546875  101.60742188  89.90234375  35.1796875
  78.2265625   75.52734375  76.5703125   77.85351562  38.4453125
  29.83984375 106.46484375  69.97265625  48.43164062 132.66259766
  33.52929688  36.25       104.14453125  71.3671875   29.34765625
  38.8203125   58.7421875   62.6015625   47.91015625  56.42382812
  78.20703125  78.92578125  73.8828125   79.98242188  87.86132812
  68.2890625   45.00390625  73.2734375   48.6640625   92.21679688
  55.79492188  76.91796875  28.5546875   76.03320312 128.21875
  79.89648438 113.17773438  95.73046875  64.55078125  70.17773438
  74.54980469  67.40625    118.625       39.16064453  42.46875
  77.03125     41.44140625  56.51171875  77.50390625  77.84375
  37.84765625  74.73828125 100.20703125  65.27734375  58.62890625
  44.57275391  57.12060547  98.96289062  79.92529297  85.765625
  87.91992188  48.61328125  71.5078125   64.671875   104.62695312
  66.171875    90.23632812  93.52734375  38.6796875   69.99853516
  84.22802734  62.52929688  36.1171875   55.56445312  66.5625
  44.296875    75.765625    68.578125    77.578125    82.97363281
 103.953125    54.85546875  49.953125    36.60546875 127.56640625
  91.86035156  48.1640625   77.00390625 120.5625      79.56445312
  38.31640625  66.57519531  86.01757812  65.07226562  80.27880859
  66.6640625   40.08984375  74.57421875 107.82617188  57.50927734
 107.06640625  38.6640625   84.02148438  63.02392578 102.60986328
  39.74609375 136.03515625  47.984375   115.97265625  73.4609375
  87.95458984  58.66210938  70.69091797  56.87109375  50.77441406
  28.12890625  73.08056641  39.0703125   41.515625    66.51171875
  76.828125    48.36328125  83.87109375 139.5703125   72.1171875
 108.10742188 136.40429688  37.9453125   62.93359375  32.54736328
  43.41015625  54.04296875 115.11523438 100.23046875  75.64453125
  33.62109375  97.87695312 142.19726562 121.25390625  74.83789062
  39.34179688 104.55859375 148.34228516  52.640625    76.90625
  41.52099609  34.51660156  63.4921875  140.22460938  72.08007812
  69.08984375  63.39111328  48.5546875   32.14257812 135.37304688
  56.1796875   39.61962891  79.95703125  54.95703125  43.6953125
  87.79296875  81.0625     112.11914062  53.0859375   68.58203125
 111.48242188  76.50390625  35.67724609 113.48828125  45.328125
  88.69384766  72.3671875   73.25878906  74.7109375   71.63574219
  60.40625     77.4453125   55.46875    109.6015625   78.4375
  69.87695312  75.6953125   42.0390625   56.18457031  48.515625
  87.90429688  81.14453125  52.08544922  58.50390625  51.31005859
 108.69921875  66.25        72.57421875  75.22265625  68.43359375
  57.81884766  40.6484375   48.7109375   42.25        62.09375
 134.07519531  38.7109375   89.3359375   69.046875    82.10546875
  42.765625    74.44873047  40.890625    35.63330078 137.8046875
  94.86328125  79.7421875   28.875       84.20898438  42.01953125
  77.94140625 115.7421875   43.79492188  86.4296875   78.66210938
  89.71875     53.7109375  118.66992188  72.23828125  42.03076172
  73.9375      80.3359375   36.78710938  61.8984375   71.23632812
  46.42578125 139.83398438 111.41796875  90.84033203  57.3671875
  84.671875   102.8515625   42.93505859  78.546875    44.6171875
 104.08984375  61.58203125  75.140625    56.8671875   85.29882812
  73.453125    82.19775391 142.43359375  96.95654297  65.86572266
  70.68359375  30.89453125  52.96875     65.30078125  51.89257812
  43.80664062  46.3671875   58.30664062  59.00732422  59.69140625
  37.0390625   97.95703125  89.70263672 114.10644531 110.9765625
  77.08203125  67.0546875   72.09179688  72.2421875   88.5078125
  49.2890625  105.24609375  89.8671875  111.80273438  35.44921875
  76.13427734  43.59375    106.83203125  62.328125    41.89453125
  53.27099609 114.4609375   84.21875     50.16796875  74.5703125
  49.8515625   79.17578125  68.14013672  46.3125      90.59765625
  82.76757812  35.40039062  99.8828125   37.2890625  101.08984375
  77.89453125  51.1953125   84.88085938  50.08203125  57.53759766
  45.01171875  86.92578125  91.25        44.58984375  57.609375
  65.359375    65.         134.29101562 127.59765625 124.82226562
 128.20507812  78.62695312 108.9140625   72.08203125  70.13085938
  26.01171875 143.63476562  47.6796875   85.34570312  89.0390625
  70.49804688  98.0625     135.5234375   75.44873047  54.90625
  45.3046875   88.00634766  80.92382812  53.18798828  28.203125  ]

In [86]:
result_regression = pd.DataFrame(scores, index = ads_test['CustomerID'],columns=['AveMonthSpend'])

result_regression
result_regression.to_csv('result_regression.csv')